# vim
*.swp
*.swo

# c++
*.out
*.o
# C++ generated binaries
codes/cpp/bin/

# haskell
*.hi

# material with copyrights
papers/
codes/third_party_code/

# instances that are too big for the repository
data/sukp/too_big_instances/
data/ukp/too_big_instances/

# folder used by sh scripts for temporary or final storage
data/results/tmp/

# latex
*.aux
*.bbl
*.log
*.blg
latex/**/*.pdf
# latex (slides)
*.vrb
*.nav
*.snm
*.toc

# R workspace
.RData
.Rhistory

# CPlex and GLPK Knapsack Instances Data
*.lp
*.mod

# ruby
*.gem

